# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension (looking at you, binaries!) ###

*.dSYM

# golang profiles and test binaries
*.prof
*.test

# cmake stuff
build/
cmake-build-*/
out/build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps/

# python
*.egg-info/
__pycache__/
